
<!--<div class="col-md-12">-->
<!--<div class="row">-->
  <!--<div class="col-md-8 col-md-offset-8">-->
    <!--<div class="block">-->
      <!--<div class="block-title">-->
        <!--<div class="block-options text-center">-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">A</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">B</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">C</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">D</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">E</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">F</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">G</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">H</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">I</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">J</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">K</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">L</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">M</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">N</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">O</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">P</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">Q</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">R</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">S</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">T</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">V</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">U</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">W</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">X</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">Y</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">Z</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row style-alt">-->

        <!--<div class="col-sm-6 col-md-4">-->
          <div class="widget">
            <div class="widget-simple">
              <a href="#">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="widget-image img-circle pull-left animation-fadeIn">
              </a>
              <h4 class="widget-content text-right">

                <a href="#"><strong>{{investorObject.firstName}}</strong><strong>{{investorObject.lastName}}</strong></a><br>
                <span class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-xs btn-default"
                     data-toggle="tooltip"
                     title=""

                     (click)="onLoadProfile()"
                     data-original-title="Category">הצג פרטים</a>

                  <!--<a href="javascript:void(0)" class="btn btn-xs btn-primary" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>-->
							</span>
                <span class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-xs btn-default"
                     data-toggle="tooltip"
                     title=""

                     (click)="openExtendedDetailsModal(investorObject)"
                     data-original-title="Category">הצג פרטים</a>

                  <!--<a href="javascript:void(0)" class="btn btn-xs btn-primary" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>-->
							</span>
              </h4>
              <div>
                <app-investor-modal></app-investor-modal>
              </div>
            </div>
          </div>
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
