          <div class="widget">
            <div class="widget-simple">
              <a href="#">
                <img src="../../../assets/avatar1.png" alt="avatar" class="widget-image img-circle pull-left animation-fadeIn">
              </a>
              <h4 class="widget-content text-right">

                <a href="#"><strong>{{investorObject.firstName}}</strong><strong>{{investorObject.lastName}}</strong></a><br>
                <span class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-xs btn-default"
                     data-toggle="tooltip"
                     title=""

                     (click)="onLoadProfile()"
                     data-original-title="Category">הצג פרטים</a>
							</span>
              </h4>
              <div>
                <app-investor-modal></app-investor-modal>
              </div>
            </div>
          </div>
