<div class="card shadow-nohover">
  <div class="card-header titel">הוסף פרוייקט חדש</div>

  <div class="card-body">
    <div  class="col-md-5"  style="width:720px; margin:0 auto;">
    <!--<span>-->
    <!--<button class="btn btn-default">-->
      <!--<i class="fa fa-plus-square fa-fw " (click)="test()"></i>-->
      <!--</button>-->
    <!--</span>-->
      <button id="btnFA" class="btn btn-success">
        <i class="fa fa-plus-square"></i>
        הוסף פרוייקט
      </button>
  </div>

  </div>
  <div class="card-footer">
    <!--<div class="view-details">-->
      <!--<button type="button" class="btn btn-lg btn-link">הצג פרטים</button>-->
    <!--</div>-->
  </div>
</div>
