
<div class="row">
  <div class="col-md-12 ">
    <div class="block">
      <div class="block-title">
        <div class="block-options text-center">
          <h1 class="title">רשימת פרוייקטים</h1>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-3" *ngFor="let project of projects">
          <app-project [project]= "project"></app-project>
        </div>
        <div class="col-md-3">
          <app-default></app-default>
        </div>
      </div>
      <div class="row">
        <div class="block-footer">
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

