<ng-template  #contents let-c="close" let-d="dismiss" >
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-body">
    <div class="col-md-12">
      <div class="panel panel-default ">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">פרטי משקיע<hr></div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">{{investorObject.firstName}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 text-right">
                  <span class="text-muted"><i class="fa fa-mobile-phone fa-fw"></i>נייד: </span> {{investorObject.cellPhoneNumber}}<br>
                  <span class="text-muted"><i class="fa fa-phone-square fa-fw"></i>משרד: </span> {{investorObject.officePhoneNumber}}<br>
                  <span class="text-muted"><i class="fa fa-map-marker fa-fw"></i>כתובת: </span> {{investorObject.officePhoneNumber}}<br>
                  <span class="text-muted"><i class="fa fa-birthday-cake fa-fw"></i>תאריך לידה: </span> 01.01.2001<br>
                  <span class="text-muted"><i class="fa fa-building fa-fw"></i>חברה: </span> 01.01.2001<br>
                  <span class="text-muted"><i class="fa fa-user-circle fa-fw"></i> תפקיד:</span> 01.01.2001<br>
                  <span class="text-muted"><i class="fa fa-handshake-o fa-fw"></i>מגייס: </span> 01.01.2001<br>
                  <span class="text-muted"><i class="fa fa-envelope fa-fw"></i>דואר אלקטרוני: </span> email@test.com<br>
                  <span class="text-muted"><i class="fa fa-envelope fa-fw"></i>דירוג: </span> email@test.com<br>

                  <a href="javascript:void(0);"><span ><i class="fa fa-industry fa-fw"></i>פרוייקטים שייכים </span></a><br>
                  <a href="javascript:void(0);"><span ><i class="fa fa-files-o fa-fw"></i>קבצים קשורים </span></a><br>
                  <span class="text-muted"><i class="fa fa-calendar-times-o fa-fw"></i>תאריך הצטרפות: </span> email@test.com<br>
                </div>
                <div class="col-md-2 text-center">
                  <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="modal-footer">
    <button type="button" class="btn btn-secondary" >סגור</button>
  </div>
  </div>
</ng-template>
