    <div class="card shadow-nohover">
      <div class="card-header titel">פרוייקט בשם כלשהוא</div>
      <img class="card-img-top" src="../../../assets/smallbanner.jpg" alt="Card image cap">
      <div class="card-body">
        <!--<p class="card-text">Text for this card. Here's <a href="#" class="card-link">why</a>.</p><br>-->
        <span class="text-muted"><i class="fa fa-map-marker fa-fw"></i> כתובת: </span>
        <div class="bot-border"></div>
        <span class="text-muted"><i class="fa fa-building fa-fw"></i> יחידות </span>
        <div class="bot-border"></div>
        <span class="text-muted"><i class="fa fa-money fa-fw"></i> loan </span>
        <div class="bot-border"></div>
        <span class="text-muted"><i class="fa fa-arrows-alt fa-fw"></i> גודל </span>
        <div class="bot-border"></div>
        <span class="text-muted"><i class="fa fa-info-circle fa-fw"></i> סטטוס </span>
        <div class="bot-border"></div>
        <span class="text-muted"><i class="fa fa-line-chart fa-fw"></i> תשואה צפויה </span>
        <div class="bot-border"></div>
      </div>
      <div class="card-footer">
        <div class="view-details">
          <button type="button" class="btn btn-lg btn-link">הצג פרטים</button>
        </div>
      </div>
    </div>
