<nav class="sidebar" >
  <div class="list-group">
    <a routerLink="/investors/investorsList" class="list-group-item">
      <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'משקיעים'  }}
    </a>
    <a class="list-group-item" routerLink="/projects/project">
      <i class="fa fa-fw fa-building-o"  ></i>&nbsp;{{ 'פרוייקטים'}}
    </a>
    <a class="list-group-item">
      <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' }}
    </a>
    <a  class="list-group-item">
      <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms'  }}
    </a>
    <a  class="list-group-item">
      <i class="fa fa-th-list"></i>&nbsp;{{ 'Component'  }}
    </a>
    <div class="nested-menu">
      <a class="list-group-item" >
        <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu'  }}</span>
      </a>
      <li class="nested" >
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)"><span>{{ 'Submenu'  }}</span></a>
          </li>
          <li>
            <a href="javascript:void(0)"><span>{{ 'Submenu'  }}</span></a>
          </li>
          <li>
            <a href="javascript:void(0)"><span>{{ 'Submenu'  }}</span></a>
          </li>
        </ul>
      </li>
    </div>
    <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page'  }}
    </a>
    <a class="list-group-item more-themes" href="http://www.strapui.com/" >
      {{ 'More Theme' }}
    </a>
    <div class="header-fields">
      <a  class="list-group-item">
        <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a>
      <div class="nested-menu">
        <a class="list-group-item" >
          <span><i class="fa fa-language"></i>&nbsp; {{ 'Language'  }} <b class="caret"></b></span>
        </a>
        <li class="nested" >
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)" >
                {{ 'English' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" >
                {{ 'French' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" >
                {{ 'Urdu' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" >
                {{ 'Spanish'  }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" >
                {{ 'Italian'  }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" >
                {{ 'Farsi'  }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" >
                {{ 'German' }}
              </a>
            </li>
          </ul>
        </li>
      </div>
      <div class="nested-menu">
        <a class="list-group-item" >
          <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
        </a>
        <li class="nested" >
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile'  }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox'  }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings'  }}</span>
              </a>
            </li>
            <li>
              <a >
                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
