<h1 class="headerTitle">רשימת משקיעים</h1>
<div class="row">
  <div class="col-md-12 ">
    <div class="block">
      <div class="block-title">
          <div class="block-options text-center ">
            <app-pagination  [paginationSize]="pages" [total]="total" (requierdPage)="getPage($event)"></app-pagination>
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">A</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">B</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">C</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">D</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">E</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">F</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">G</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">H</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">I</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">J</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">K</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">L</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">M</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">N</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">O</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">P</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">Q</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">R</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">S</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">T</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">V</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">U</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">W</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">X</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">Y</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default">Z</a>-->
        </div>
      </div>
        <div class=" row col-md-12">
          <div class="col-md-3" *ngFor="let investor of investorsList">
            <app-investor [investorObject]="investor"></app-investor>
          </div>
      </div>
      <div class="row">
        <div class="block-footer">
          <div>
            <button type="button"
                    class="btn btn-secondary"
                    (click)="onLoadProfile()">הוסף</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!--<div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">-->
  <!--<ul class="list-group" id="contact-list">-->
    <!--<li class="list-group-item list-group-item-action" *ngFor="let investor of investorsList">-->
      <!--<div class="row">-->
        <!--<div class="col-md-3">-->
          <!--<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">-->
        <!--</div>-->
        <!--<div class="col-md-3 text-right text-sm-right">-->
          <!--<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>-->
          <!--<label class="name lead">ישראל ישראלי</label>-->
          <!--<br>-->
          <!--<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>-->
          <!--<span class="text-muted">רחוב הירקון 32</span>-->
          <!--<br>-->
          <!--<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>-->
          <!--<span class="text-muted small">(0544) 288-4149</span>-->
          <!--<br>-->
          <!--<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>-->
          <!--<span class="text-muted small text-truncate">mike.ana@example.com</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->
    <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 text-right text-sm-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="name lead">ישראל ישראלי</label>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted">רחוב הירקון 32</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small">(0544) 288-4149</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small text-truncate">mike.ana@example.com</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 text-right text-sm-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="name lead">ישראל ישראלי</label>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted">רחוב הירקון 32</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small">(0544) 288-4149</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small text-truncate">mike.ana@example.com</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 text-right text-sm-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="name lead">ישראל ישראלי</label>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted">רחוב הירקון 32</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small">(0544) 288-4149</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small text-truncate">mike.ana@example.com</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 text-right text-sm-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="name lead">ישראל ישראלי</label>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted">רחוב הירקון 32</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small">(0544) 288-4149</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small text-truncate">mike.ana@example.com</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 text-right text-sm-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="name lead">ישראל ישראלי</label>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted">רחוב הירקון 32</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small">(0544) 288-4149</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small text-truncate">mike.ana@example.com</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 text-right text-sm-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="name lead">ישראל ישראלי</label>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted">רחוב הירקון 32</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small">(0544) 288-4149</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small text-truncate">mike.ana@example.com</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 text-right text-sm-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="name lead">ישראל ישראלי</label>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted">רחוב הירקון 32</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small">(0544) 288-4149</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="text-muted small text-truncate">mike.ana@example.com</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--</ul>-->
<!--</div>-->

