<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="row" >
  <div class="col col-sm-8">
    <div class="card mt-3">
      <div class="card-header"><h1 class="tital"></h1></div>
      <div class="card-body">
        <div class="row" >
          <div class="col-md-10 text-right">
            <div style="border: 1px">
            <div class="form-group">
            <div class="col-md-5">
              <span class="text-muted"> </span>
              <label for="firstName"> שם פרטי :  </label>
              <input type="text"
                     id="firstName"
                     class="form-control"
                     [(ngModel)]="_investor.firstName"
                     required
                     name="firstName"
                     #name="ngModel">
              </div>
              <div  [hidden]="name.valid || name.pristine"
                   class="alert alert-danger col-md-5">
                Name is required
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
               <div class="col-md-5">
                <span class="text-muted"> </span>
                <label for="lastName"> שם משפחה :  </label>
                <input type="text"
                       id="lastName"
                       class="form-control"
                       [(ngModel)]="_investor.lastName"
                       name="lastName"
                       #name="ngModel"
                       required>
                </div>
              <div  [hidden]="name.valid || name.pristine"
                    class="alert alert-danger col-md-5">
                Last Name is required
              </div>
            </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5">
                <span class="text-muted">  <i class="fa fa-mobile-phone fa-fw"></i></span>
              <label for="cellPhone"> נייד:  </label>
              <input type="text"
                     id="cellPhone"
                     class="form-control"
                     [(ngModel)]="_investor.cellPhoneNumber"
                     name="cellPhone"
                    required
                    #name="ngModel">
              </div>
              <div  [hidden]="name.valid || name.pristine"
                    class="alert alert-danger col-md-5">
                Cell Phone Number is required
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5">
                <span class="text-muted"><i class="fa fa-phone-square fa-fw"></i></span>
                  <label for="officePhone">
                  משרד:
                  </label>
                  <input type="text"
                         id="officePhone"
                         class="form-control"
                         [(ngModel)]="_investor.officePhoneNumber"
                         name="officePhone">

              </div>
              </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5">
                <span class="text-muted"><i class="fa fa-map-marker fa-fw"></i></span>
                <label for="address"> כתובת: </label>
                <input type="text"
                        id="address"
                        class="form-control"
                       [(ngModel)]="_investor.address"
                        name="address"
                       required
                       #name="ngModel">
              </div>
              <div  [hidden]="name.valid || name.pristine"
                    class="alert alert-danger col-md-5">
                Cell Phone Number is required
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5">
                <span class="text-muted"><i class="fa fa-birthday-cake fa-fw"></i>  </span>
                <label for="birthDate">תאריך לידה:</label>
                <!--<input type="date"-->
                        <!--id="birthDate"-->
                        <!--class="form-control"-->
                        <!--ngModel-->
                        <!--name="birthDate">-->
                <div class="input-group datepicker-input">
                <button class="input-group-addon" (click)="bd.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
                </button>
                <input class="form-control"
                       placeholder="dd-mm-yyy"
                       name="birthDate"
                       id="birthDate"
                       [(ngModel)]="_investor.birthDate"
                       ngbDatepicker #bd="ngbDatepicker">
                </div>
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5">
                <span class="text-muted"><i class="fa fa-building fa-fw"></i></span>
                <label for="company">
                  חברה :
                </label>
                <input type="text"
                       id="company"
                       class="form-control"
                       [(ngModel)]="_investor.company"
                       name="company"
                       required
                       #name="ngModel">
              </div>
              <div  [hidden]="name.valid || name.pristine"
                    class="alert alert-danger col-md-5">
                Cell Phone Number is required
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5" >
                <span class="text-muted"><i class="fa fa-user fa-fw"></i></span>
                <label for="role">
                  תפקיד :
                </label>
                <input type="text"
                       id="role"
                       class="form-control"
                       [(ngModel)]="_investor.role"
                       name="role"
                       required
                       #name="ngModel">
              </div>
              <div  [hidden]="name.valid || name.pristine"
                    class="alert alert-danger col-md-5">
                Cell Phone Number is required
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5" >
                <span class="text-muted"><i class="fa fa-handshake-o fa-fw"></i></span>
                <label for="recruiter"> מגייס : </label>
                <input type="text"
                       id="recruiter"
                       class="form-control"
                       ngModel
                       name="recruiter"
                       required
                       #name="ngModel">
              </div>
              <div  [hidden]="name.valid || name.pristine"
                    class="alert alert-danger col-md-5">
                Cell Phone Number is required
              </div>
            </div>
           <div class="bot-border"></div>
            <br>
            <div class="form-group">
              <div class="col-md-5" >
                <span class="text-muted"><i class="fa fa-birthday-cake fa-fw"></i>  </span>
                <label for="joinedDate">תאריך הצטרפות:</label>
                <div class="input-group datepicker-input">
                  <button class="input-group-addon" (click)="jd.toggle()" type="button">
                    <span class="fa fa-calendar"></span>
                  </button>
                  <input class="form-control test"
                         placeholder="dd-mm-yyy"
                         name="joinedDate"
                         id="joinedDate"
                         [(ngModel)]="_investor.joinDate"
                         ngbDatepicker
                         #jd="ngbDatepicker"
                         required
                         #name="ngModel">
                </div>
                <div  [hidden]="name.valid || name.pristine"
                      class="alert alert-danger col-md-5">
                  Cell Phone Number is required
                </div>
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5" >
                <span class="text-muted"><i class="fa fa-envelope fa-fw"></i></span>
                <label for="email"> דואר אלקטרוני : </label>
                <input type="text"
                       id="email"
                       class="form-control"
                       [(ngModel)]="_investor.email"
                       name="email"
                       required
                       #name="ngModel">
              </div>
              <div  [hidden]="name.valid || name.pristine"
                    class="alert alert-danger col-md-5">
                Email is required
              </div>
            </div>
            <div class="bot-border"></div>
            <div class="form-group">
              <div class="col-md-5">
                <span class="text-muted"><i class="fa fa-star fa-fw"></i> דירוג: </span><app-rating [currentRate]="0"></app-rating><br>
              </div>
            </div>
            <div class="bot-border"></div>
            <span class="text-muted"><i class="fa fa-comment fa-fw"></i> הערות: </span> <br>
            <div class="bot-border"></div>
            <a href="javascript:void(0);"><span ><i class="fa fa-industry fa-fw"></i> פרוייקטים שייכים </span></a><br>
            <div class="bot-border"></div>
            <a href="javascript:void(0);"><span ><i class="fa fa-files-o fa-fw"></i> קבצים קשורים </span></a><br>
            <div class="bot-border"></div>
            <br>
            <!--<div class="form-group">-->
              <!--<div class="col-md-5" style="margin-top: -25px">-->
                <!--<span class="text-muted"><i class="fa fa-birthday-cake fa-fw"></i>  </span>-->
                <!--<label for="joinedDate">תאריך הצטרפות:</label>-->
                <!--<div class="input-group datepicker-input">-->
                  <!--<button class="input-group-addon" (click)="jd.toggle()" type="button">-->
                    <!--<span class="fa fa-calendar"></span>-->
                  <!--</button>-->
                  <!--<input class="form-control test"-->
                         <!--placeholder="dd-mm-yyy"-->
                         <!--name="joinedDate"-->
                         <!--id="joinedDate"-->
                         <!--ngModel-->
                         <!--ngbDatepicker-->
                         <!--#jd="ngbDatepicker">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
             <br>
          </div>
          <div class="col-md-2 text-center">
            <img class="img-circle avatar avatar-original profile-image1"   style="-webkit-user-select:none;
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-secondary" >הוסף</button>
      </div>
    </div>
  </div>
</div>
  <app-toasts></app-toasts>
</form>
