:host /deep/ .datepicker-input {
  .custom-select {
    width: 50%;

  }
}
.dropdown-menu.show.test {
  padding: 0px;
  top: -100px;
  left: -250px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
