:host /deep/ .datepicker-input {
  .custom-select {
    width: 50%;
  }
}
.dropdown-menu.show.test {
  padding: 0px;
  top: -100px;
  left: -250px;
}
.ng-valid[required], .ng-valid.required  {
  border: 1px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}
.titel{ font-size:16px; font-weight:500;text-align: right}

.alert-danger {
  border-color:black;
  padding: 0.375rem 0.75rem;
}
